<h1>Scrabble</h1>
<form action="/title">
  <div class="form-group">
     <label for="title">Enter a word to see its scrabble value
     </label>
     <input id="title" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
